node_modules/
coverage/
.tmp/
.git/
lib/browser/version.js
shims/
example/node_modules/
example/public/
example/public/index.js
test/.tmp/
test/browser/.tmp
test/browser/build
test/benchmark/
test/fixtures/
task/
browser-build.js
es
cjs
dist/

lib/common/utils/createRequest.js
lib/common/utils/encodeString.js
lib/common/utils/getStandardRegion.js
lib/common/utils/checkEnv.js
lib/common/utils/isDingTalk.js

lib/common/bucket/putBucketInventory.d.ts