node_modules/
coverage/
.tmp/
.git/
lib/browser/version.js
shims/
example/node_modules/
example/public/
example/public/index.js
test/.tmp/
test/browser/.tmp
test/browser/build
test/benchmark/
test/fixtures/
task/
browser-build.js
es
cjs
