# Vulnerability scanning #
name: SNYK_SCAN
on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  security:
    environment: ali_oss_AK
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - run: npm install
      - name: Run Snyk to check for vulnerabilities
        uses: snyk/actions/node@master
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_KEY }}
